
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# config
src/main/resources/FileSpace/ProjectSpace
src/main/resources/FileSpace/UserSpace
src/main/resources/Config/mybities-config.xml
#target file
target


src/main/resources/Config/mybities-config.xml

.idea/workspace.xml

src/main/resources/Config/mybities-config.xml

target/classes/Config/sqlConfig.properties

target/classes/Config/sqlConfig.properties

target/classes/Config/mybities-config.xml

target/classes/Config/mybities-config.xml

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/dataSources/2114523e-0931-44a3-9e58-9849bda3da08.xml

.idea/dataSources/2114523e-0931-44a3-9e58-9849bda3da08/_metadata_/metadata

.idea/dataSources/2114523e-0931-44a3-9e58-9849bda3da08/_metadata_/metadata_i

.idea/dataSources/2114523e-0931-44a3-9e58-9849bda3da08/_metadata_/metadata_i.len

*.keystream

*.len

*.at

.idea/dataSources/2114523e-0931-44a3-9e58-9849bda3da08/storage.xml

.idea/sqldialects.xml

target/classes/Config/mybities-config.xml
