<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.Login">
    <select id="selLoginWithAccName" parameterType="string" resultType="Login">
        SELECT * FROM UserLogin WHERE UAName = #{thisUserName}
    </select>
    <select id="selLoginWithMailName" parameterType="string" resultType="Login">
        SELECT * FROM UserLogin WHERE UMail = #{thisUserName}
    </select>
    <select id="selLoginWithTelName" parameterType="string" resultType="Login">
        SELECT * FROM UserLogin WHERE UTel = #{thisUserName}
    </select>
    <select id="selLoginWithUUuid" parameterType="string" resultType="Login">
        select * from UserLogin WHERE UUuid = #{UUuid};
    </select>
    <insert id="registeUser" parameterType="Login" flushCache="true">
        INSERT INTO UserLogin (UUuid,UPwd,UAName,UTel,UMail)
        VALUES (#{UUuid},#{UPwd},#{UAName},#{UTel},#{UMail})
    </insert>

    <insert id="insertFreqTOWork" parameterType="UserTFWork" flushCache="true">
        INSERT INTO UserWork (UWid,UUuid,WorkId,isFreq)
        VALUES (#{UWid},#{UUuid},#{WorkId},#{isFreq})
    </insert>
    <insert id="regist_insertUserExtend" parameterType="UserExtend" flushCache="true" >
        INSERT INTO UserExtend (UUuid,UNackName,USex,UBirthday,USign,UHeadImg)
        VALUES (#{UUuid},#{UNackName},#{USex},#{UBirthday},#{USign},#{UHeadImg})
    </insert>

    <update id="update_LoginAll" parameterType="Login" flushCache="true">
        UPDATE UserLogin set UPwd=#{UPwd},UAName=#{UAName},UTel=#{UTel},UMail=#{UMail} WHERE UUuid = #{UUuid}
    </update>
    <select id="selUserExtendByUUuid" parameterType="string" resultType="UserExtend">
        SELECT * FROM UserExtend WHERE UUuid = #{thisUUid}
    </select>
    <update id="update_userExtendAll" parameterType="UserExtend" flushCache="true">
        UPDATE UserExtend set UNackName = #{UNackName},USex = #{USex},UBirthday = #{UBirthday},UTag = #{UTag},USign = #{USign},UHeadImg = #{UHeadImg}
        WHERE UUuid = #{UUuid}
    </update>
    <select id="sel_userTFWorkByUUuid" parameterType="string" resultType="UserTFWork">
        SELECT * FROM userworkview WHERE UUuid = #{UUuid}
    </select>
    <update id="update_ALineofTFWork" parameterType="UserTFWork" flushCache="true">
        UPDATE UserWork set WorkId = #{WorkId},isFreq = #{isFreq},status = #{status},delayTime = #{delayTime}
        WHERE UWid = #{UWid}
    </update>
    <delete id="delete_ALineofTFWork" parameterType="string" flushCache="true">
        DELETE FROM UserWork WHERE UWid = #{UWid}
    </delete>

    <select id="sel_CommityInfoByCName" parameterType="string" resultType="CommityInfo">
        SELECT * FROM CommityInfo WHERE CName = #{CName}
    </select>
    <insert id="insert_CommityInfo" parameterType="CommityInfo" flushCache="true">
        INSERT INTO CommityInfo (CId, CName, Cintroduce, CTag, CHeadImg, CNMDemand, CMeMCount)
        VALUES (#{CId},#{CName},#{Cintroduce},#{CTag},#{CHeadImg},#{CNMDemand},0)
    </insert>
    <insert id="insert_CommityMember" parameterType="CommityMember" flushCache="true">
        INSERT INTO CommityMember (CMid, CId, UUuid, Utype)
        VALUES (#{CMid},#{CId},#{UUuid},#{Utype})
    </insert>
    <select id="sel_CommityMemCount" parameterType="string" resultType="int">
        SELECT CMeMCount FROM CommityInfo WHERE CId = #{CId}
    </select>
    <update id="update_CommmityMeMCount" parameterType="CommityInfo" flushCache="true">
        UPDATE CommityInfo SET CMeMCount = #{CMeMCount}
        WHERE CId = #{CId}
    </update>
</mapper>